asttokens
backcall
bcrypt
blinker
cffi
click
decorator
dnspython
email-validator
executing
Flask
Flask-Bcrypt
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
ipython
itsdangerous
jedi
Jinja2
MarkupSafe
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
six
SQLAlchemy
stack-data
traitlets
typing_extensions
wcwidth
Werkzeug
WTForms
